//VARIABLES
$light-green: #E6E6FA;
$claro:#E0E0E0;
$black: #413d4b;
$gray: #E0E0E0;
$light-purple: #9a93ad;
$color-m:#A89EE3;
$p:#BA55D3;//color tentatio para el cuadro del medio
$grayC:#FAFAFA;
$white:#FFFF;
$pink:#F8BBD0;
$purple:#8E24AA;
$morado:#9932cc;
$text:#3998db;
$contact:#87CEEB;

body{
    width: 90%;
    height: 100%;
    background-color:$claro;
  
}
#menu ul{
list-style: none;
margin: 0;
padding: 0;


}

#menu ul li{//ESTO ES PARA QUE EL MENÚ ESTÉ HORIZONTAL

float: left;

}

#menu a{//ESTO ES PARA LA LETRA DEL MENÚ

color: $purple;
text-decoration: none;
display: block;
padding: 12px 12px;
margin: 15px -437px 50px 511px ;

}

#menu{// ESTO ES PARA EL TAMAÑO DEL COLOR DE FONDO DEL MENÚ
background: $pink;
width: 1372px;
height: 70px;

}
//.barra{ //<li class="barra">/</li>

//color:$light-purple;

//margin: 27px -463px 83px 457px ;
//}

#menu a:hover{// parte para hacer el cuadro sombreado cuando se pone el puntero

color: $white;
//background: rgba(128, 0, 128, 0.1);
height: -55px;

}


.search{//ESTO ES PARA LA BARRA DE BUSCAR 

    //position: absolute; 
    padding: 4px 0px 0px 1125px ;
    margin: -52px;
}

.search input{// TEXTO QUE IRIA ADENTRO DE BARRA DE BUSCAR

    width:238px ;
    height: 30px ;
    padding: 0 20px 0px 17px ;
    margin:1px ;
    font-size: 16px;
    color: $light-purple;
    outline: none;
    border: 1px solid $morado;
    border-radius: 38px;
}

.btn{//ESTO ES PARA EL ICONO DE BUSCAR
    position: absolute;
    top: 19px;
    right: 36px;
    background:$morado ;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: $grayC;
    font: size 20px; ;
    border-radius: 50%;
    cursor: pointer;
}

.header{ //ESTO ES PARA LA FOTO DEL HEADER
position: absolute;
    width: 102%;
    height: 300px;
    margin-left: -625px;
    margin-top: 68px;
    margin-right: 0px;
    margin-bottom: 0px;
    }

.container{//ESTO ES PARA EL CONTAINER DE LAS IMAGENES

width: 100%;
max-width:1200px ;
height: 430px;
display: flex;
flex-wrap: wrap;
justify-content: center;
margin: 424px  92px;

}
.container-E{//ESTO ES PARA EL CONTAINER DE LAS OTRAS IMGS 2
    position: absolute;
    top: 830PX;
    right: -41px;
    width: 100%;
max-width:1200px ;
height: 430px;
display: flex;
flex-wrap: wrap;
justify-content: center;
margin: 455px  92px;

}


.container .card{// ESTO ES PARA ALINEAR LOS TEXTOS QUE ESTA EN EL CONTAINER
width: 330px;
height: 390px;
border-radius: 8px;
box-shadow: 0 2px 2px rgba(0,0,0,0.2);
overflow: hidden;
margin: 31px;
text-align: center;
transition: all 0.25;

}

.container-E .card-E{// ESTO ES PARA ALINEAR LOS TEXTOS QUE ESTA EN EL CONTAINER
    width: 330px;
    height: 258px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    overflow: hidden;
    margin: 31px;
    text-align: center;
    transition: all 0.25;
    
    }

.container .card:hover{//ESTO ES PARA AGREGAR EL EFECTO HOER A LAS IMG

    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2) ;

}

.container .card img{// ESTO ES PARA DEFINIR EL TAMAÑO DE LAS IMG

width: 330px;
height: 220px;

}

.container-E .card-E:hover{//ESTO ES PARA AGREGAR EL EFECTO HOER A LAS OTRAS IMG2

    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2) ;

}

.container-E .card-E img{// ESTO ES PARA DEFINIR EL TAMAÑO DE LAS OTRAS IMGS2

width: 330px;
height: 220px;

}

.container.card h4{//ESTO ES PARA EL TITULO QUE ESTA DENTRO DE LAS IMAGENES
position: absolute;
top: 0px;
    font-weight: 600;

}

.container .card p{//ESTO ES PARA EL TEXTO QUE ESTA DENTRO DE LAS IMG
font-family: 'Roboto', sans-serif;
font-weight: 300;
padding: 0 1rem;
font-size: 16px;


}

.container .card a{//ESTO ES PARA LA PARTE DE  INGRESAR DE LAS IMG
font-family: 'Roboto', sans-serif;
font-weight: 600;
text-decoration: none;
color: $color-m;


}

.container .title{//ESTO ES PARA EL TITLO DE EENTO
    position: absolute;
    top: 385px;
   // right: 0px;
color: $black;
text-align: center;
font-size: 40px;

}

.especifico{//ESTO ES PARA LA IMAGEN DE OTRO EENTO ESPECIFICO
position: absolute;
top: 943px;
right: 641px;
    width: 38%;
    height: 44%;
}
.text-E{//ESTO ES PARA EL TEXTO QUE ESTA EN LA IMAGEN DEL EENTO ESPECIFICO
position: absolute;
//top: 0px;
//right: 0px;
font-family: 'Roboto', sans-serif;
font-weight: 300;   
padding: 0 1rem;
font-size: 19px;    
margin: -310px 114px 64px 778px;


}
.cuadro{// ESTE EL CUADRO DE EL MEDIO COLOR QUE ESTA DEAJO DE LOS EENTOS
    position: absolute;
    background: $color-m;
width: 102%;
height: 58%;

margin: -380px 114px 64px 0px;

}

.cuadro-F{// ESTE EL CUADRO FINAL DE CONTACT DE COLOR QUE ESTA DEAJO DE LOS EENTOS
    position: absolute;
width: 102%;
height: 23%;
background: $contact;
margin: 362px 114px 64px 0px;

}

.icons{// ESTO ES PARA LOS ICONS FINALES DE CONTACT

    position: absolute;
    right: 0px;
    width: 9%;
    height: 69px;
    margin: 362px 114px 64px 0px;
    

}
.text-C{//ESTO ES PARA EL SEGUNDO TEXTO DEL CONTACT
    font-family: 'Roboto', sans-serif;
    font-weight: 300;   
    padding: 1rem 31rem;
    font-size: 14px;    
position: absolute;
//top: 1500px;
right: 160px;
    margin: 410px -116px 48px 67px;
color: $grayC;
text-align: center;

}
.text-Co{//ESTO ES PARA EL PRIMER TEXTO DEL CONTACT
font-family: 'Roboto', sans-serif;
font-weight: 300;   
padding: 0rem 44rem;
font-size: 14px;    
position: absolute;
right: 240px;
margin: 429px -94px 81px -442px;
color: $grayC;
text-align: center;
}
.text-Contact{//ESTO ES PARA EL PRIMER TEXTO DEL CONTACT
    font-family: 'Roboto', sans-serif;
    font-weight: 300;   
    padding: 0rem 1rem;
    font-size: 14px;    
    position: absolute;
    right: 268px;
    margin: 444px -252px 59px -231px;
    color: $grayC;
    text-align: center;
    }



//////////////////////////////////////////////////////////////////////////////////////////////////////

.registro{//ESTO ES PARA CAMBIAR EL COLOR DEL BODY A MORADO
    width: 90%;
    height: 100%;
    //background: -webkit-linear-gradient(180deg, $morado,$pink);
   
    background-color:$p;
  
}


.form{//ESTO ES PARA EL FORMULARIO EN CONJUNTO
    position: absolute;
    top: -100px;
    right: 231px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
    width: 100%;
    height: 95px;
    max-width: 800px;
    margin: 22% auto;
    
    color:$white;
    padding: 5px;
   
   

}
.submit-btn3{//ESTO ES PARA EL BOTON DE COMPRAR
    width:238px ;
    height: 30px ;
    padding: 8px 13px 33px ;
   
    font-size: 16px;
    color: $white;
    
    position: absolute;
    top: 448px;
    right: 286px;
}


   .ticket{// ESTO ES PARA EL TITLO DE COMPRA TICKECTS
    color: $white;
    position: absolute;
    top: 109px;
    right: 483px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;


   }

   .input-group{

    color: $text;
   }
   .search-dos input{// ESTO ES PARA LA FORMA DE LOS FORMULARIOS
color: $black;
    width:238px ;
    height: 30px ;
    padding: 20px 26px 28px ;
    margin:79px 21px 23px 1px ;
    font-size: 16px;
    outline: none;
    border: 1px solid $white;
    border-radius: 38px;
    //background-color: transparent;
}
.input-field-dos{ //ESTO ES PARA EL CUADRO DE COSTO TOTAL
    color:$white;
    position: absolute;
    width:238px ;
    height: 30px ;
    top: 290px;
    right: 268px;
}
.nombre-e{//ESTO ES PARA EL TEXTO NOMBRE EENTO
position: absolute;
top: 206px;
left: 375px;
color: $white;
font-size: 21px;
}
.nombre-f{//ESTO ES PARA EL TEXTO FECHA

    position: absolute;
    top: 267px;
    left: 375px;
    color: $white;
    font-size: 21px;
}
.nombre-l{

    position: absolute;
    top: 206px;
    right: 375px;
    color: $white;
    font-size: 21px;
}
.nombre-h{

    position: absolute;
    top: 267px;
    right: 375px;
    color: $white;
    font-size: 21px;

}

//////////////////////////////////////////////////////////////PAGINA PARA EL EENTO PRINCIPAL

.Evento{

    width: 90%;
    height: 100%;
    //background: -webkit-linear-gradient(180deg, $morado,$pink);
   
    background-color:$gray;
  


}
.evento-titulo{//ESTO ES PARA EL TITULO DE NOMBRE DE EENTO

    font-family: 'Roboto', sans-serif;
    font-weight: 600;   
    padding: 0rem 1rem;
    font-size: 30px;    
    position: absolute;
    right: 605px;
    top: 120px;
    color: $black;
    text-align: center;

}
.evento-subtitulo{ //ESTO ES PARA EL TEXTO DE CATEGORIA

    font-family: 'Roboto', sans-serif;
    font-weight: 600;   
    padding: 0rem 1rem;
    font-size: 30px;    
    position: absolute;
    right: 586px;
    top: 180px;
    color: $black;
    text-align: center;

}
.evento-lugar-etc{// ESTO ES PARA EL TEXTO DE FECHA-LUGAR-HORA

    font-family: 'Roboto', sans-serif;
    font-weight: 600;   
    padding: 0rem 1rem;
    font-size: 25px;    
    position: absolute;
    right: 586px;
    //top: 220px;
    color: $black;
    text-align: center;

}
 //////////////////////////////////////ESTO ES PARA EL EFECTO HOER
.content-all{

width: 100%;

}
.content-img{//ESTO ES PARA LA IMG PRINCIPAL

    width: 710px;
    height: 434px;
    margin: auto;
    margin-top: 212px;
    margin-left: -745px;
    position: relative;
    overflow: hidden;
}
.content-img img{//ESTO ES PARA DEFINIR LA IMG PRINCIPAL

    width: 100%;
 height: 433px;
 transition: all 300ms;
}

.content-1{//ESTO ES PARA HACER EL EFECTO DE RECORTE LA PRIMERA CAPA

width: 1000px;
height: 1000px;
position: absolute;
top: 0;
background: rgba($color-m, 0.5);
transform: rotate(-30deg);
margin-left: -750px;
transition: all 300ms;
}
.content-2{//ESTO ES PARA HACER EL EFECTO DE RECORTE LA SEGUNDA CAPA

    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 0;
    background: rgba($color-m, 0.5);
    transform: rotate(-30deg);
    margin-left: -800px;
    transition: all 500ms;
    }
    .content-3{//ESTO ES PARA HACER EL EFECTO DE RECORTE LA TERCERA CAPA

        width: 1000px;
        height: 1000px;
        position: absolute;
        top: 0;
        background: rgba($color-m, 0.5);
        transform: rotate(30deg);
        margin-left: -800px;
        margin-top: -500px;
        transition: all 900ms;
        box-shadow: 0px 1px 20px -5px $morado;
        }
        .content-4{//ESTO ES PARA HACER EL EFECTO DE RECORTE LA CUARTA CAPA

            width: 1000px;
            height: 1000px;
            position: absolute;
            top: 0;
            background: rgba($color-m, 0.3);
            transform: rotate(30deg);
            margin-left: -850px;
            margin-top: -500px;
            transition: all 700ms;
            
            }
            
            
            .content-img:hover .content-1{//ESTO ES PARA HACER EL EFECTO DE TRANSICION DE PARA L IMG
                width: 222%;
                transition: all 900ms;
            }
            .content-img:hover .content-2{
                width: 222%;
                transition: all 300ms;
            }
            .content-img:hover .content-3{
                width: 222%;
                transition: all 500ms;
            }
            .content-img:hover .content-4{//ESTO ES PARA HACER EL EFECTO DE TRANSICION DE PARA L IMG
                width: 222%;
                transition: all 700ms;
            }
            .content-img:hover img{//ESTO ES PARA LA IMAGEN QUE TENGA UN EFECTO

                transform: scale(1.5);
                transition: all 300ms;
                //opacity: 0.8;
            }
           .container-detalle {//ESTO ES PARA LAS IMG DE LOS PROXIMOS EENTOS
                position: absolute;
                top: 453PX;
                right: -41px;
                width: 100%;
                max-width: 1200px;
                height: 430px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin: 455px 92px;
            } 

            .container-detalle .card-E {//ESTO ES PARA LAS IMG DE LOS PROXIMOS EENTOS
    width: 330px;
    height: 258px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgb(0 0 0 / 20%);
    overflow: hidden;
    margin: 31px;
    text-align: center;
    transition: all 0.25ms;
            }
            .container-detalle .card-E img {//ESTO ES PARA LAS IMG DE LOS PROXIMOS EENTOS
    width: 330px;
    height: 220px;
            }

            .text-detalle{//ESTO ES PARA EL CONTENEDOR QUE CONTIENE LA DESCRIPCION Y TEXTO

          position: absolute;
          top: 0;
          width: 400px;
          padding: 10px;
          z-index: 10;
          color: $white;
          text-align: center;
          margin-top: 100px;

            }

            .text-detalle h2{//ESTO ES PARA EL TITULO DE DESCRIPCION

          font-size:30px ;
          opacity: 0;
          transform: scale(0.2);
          transition: all 300ms;

            }
            .text-detalle p{//ESTO ES PARA EL TEXTO DE REDACCIÓN DE LA DESCRIPCIÓN

                font-size: 20px;
                margin-top: 10px;
                opacity: 0;
                transform: scale(1.5);
                transition: all 300ms;
            }   

           .content-img:hover h2{//ESTO ES PARA AGREGRALE UN EFECTO HOER AL TITULO DE DESCRIPCIÓN
               opacity: 1;
               transition: all 300ms;
               transform: scale(1);

           }
           .content-img:hover p{// ESTO ES PARA AGREGARLE UN EFECTO HOER AL TEXTO DE REDACCIÓN DE DESCRIPCIÓN
            opacity: 1;
            transition: all 500ms;
            transform: scale(1);

        }
        ////////////////////////////////////////////////////////////////////